
build/
cmake-build-*/
out/
bin/
lib/


CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeUserPresets.json
*.cmake
!CMakeLists.txt          # 例外：不忽略 CMakeLists.txt 本身
!cmake/                  # 例外：如果你有自定义 cmake 脚本文件夹


*.o
*.obj
*.pref
*.pdb                     
*.idb
*.ilk


*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.exp


moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
*.moc
*.rcc


*.WFTMP
*.META


.vscode/                 
.idea/                   
*.user                  
*.creator.user*
*.autosave
*.suo
*.vcxproj
*.vcxproj.filters
*.sln                    


Thumbs.db
desktop.ini
.DS_Store                # macOS 目录属性文件